//主题色
$color-theme: #137ec0;
$color-theme-l: #9cc0da;
//$color-theme-d: #9cc0da;

//字体颜色
$color-text-dd: #323d52;//最深色
$color-text-d: #323d52;//深色
$color-text-l:#888;//浅色
$color-text-ll: #ccc;//最浅色
//
$color-white:#fff;//白色
$color-black:#000;//黑色

//字体定义规范 30 26 22
$font-size-xs: .22rem;
$font-size-s: .24rem;
$font-size-m: .26rem;
$font-size-l: .28rem;
$font-size-xl: .30rem;

//圆角 8px 4px
$border-radius-s: 0.04rem;
$border-radius-m: 0.06rem;
$border-radius-l: 0.08rem;
